#**From Zero to Everything Basic Needs in Python**

Prepared by: Jannatul Fardaous Jim       
Reg No: 21201071  
University of Asia Pacific   
Department of Computer Science and Engineering

#**Print() Function**

In [ ]:
# Simple print statements
print("Hello, World!")

Hello, World!

In [ ]:
# print About Myself:
print("Hello ,I'm Jannatul Fardaous Jim. A passionate and dedicated Computer Science and Engineering (CSE) student embarking on a thrilling journey in the realm of technology."+"\n"+"With an insatiable curiosity for all things related to computing.")

Hello ,I'm Jannatul Fardaous Jim. A passionate and dedicated Computer Science and Engineering (CSE) student embarking on a thrilling journey in the realm of technology.
With an insatiable curiosity for all things related to computing.

In [ ]:
# Printing Multiple Value:
Name='Jannatul Fardaous Jim'
Age=23
University='University of Asia Pacific'
Semester='3rd Year 1st Semester'
Skills='Programming'
Programming_Language='C++'

print("Hi,I'm "+Name +".I'm "+str(Age)+" years old. Currently navigating the labyrinth of technology at "+University +" in "+Semester+"."+"\nI find joy in unraveling "+Skills+", the elegance of coding languages and complexities of algorithme. Lastly my favorite programming language is "+Programming_Language)

Hi,I'm Jannatul Fardaous Jim.I'm 23 years old. Currently navigating the labyrinth of technology at University of Asia Pacific in 3rd Year 1st Semester.
I find joy in unraveling Programming, the elegance of coding languages and complexities of algorithme. Lastly my favorite programming language is C++

In [ ]:
# Printing numbers and calculations
num1 = 10
num2 = 5
sum_result = num1 + num2
print(f"The sum of {num1} and {num2} is: {sum_result}")

The sum of 10 and 5 is: 15

In [ ]:
# Printing multiple lines
print("In python you can use the escape sequence '\\n' to create new lines.\nJust like this way!")

In python you can use the escape sequence '\n' to create new lines.
Just like this way!

#**Variable Assignment**

In [ ]:
# Variable assignment
Name = "Jim" # string
Age = 23 # int
Cgpa = 3.78 # float
type_check = True # bool

print(Name)
print( Age)
print(Cgpa)
print(type_check)
print(type(Name))
print(type(Age))
print(type(Cgpa))
print(type(type_check))

Jim
23
3.78
True
<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [ ]:
# Variable assignment also using type casting
Name = "Jim" # string
Age = 23 # int
Cgpa = 3.78 # float
type_check = True # bool

print("Name : " +Name)
print("Age: "+ str(Age))
print("CGPA: " + str(Cgpa))
print(type_check)
print(type(Name))
print(type(Cgpa))
print(type(type_check))

Name : Jim
Age: 23
CGPA: 3.78
True
<class 'str'>
<class 'float'>
<class 'bool'>

In [ ]:
#Dynamic Typing
name = "Jim" # String
x = 23  # Integer
y = 3.1416 # Float

print(name,x,y)

Jim 23 3.1416

In [ ]:
#Swapping Values
a = 10
b = 70

a, b = b, a
print(a, b)

70 10

In [ ]:
# Dynamic typing - changing variable type
dynamic_variable = 42
print("Dynamic Variable (initial):", dynamic_variable)
print(type(dynamic_variable))
dynamic_variable = "Hello, World!"
print("Dynamic Variable (updated):", dynamic_variable)
print(type(dynamic_variable))

Dynamic Variable (initial): 42
<class 'int'>
Dynamic Variable (updated): Hello, World!
<class 'str'>

# **Python operations**:

##Arithmetic Operations:

In [ ]:
A=100.75
B=20

Addition =A+B
Subtraction =A-B
Multiplication=A*B
Division = A/B
Modulus = A%B
Floor_division =A//B
Exponentiation= A**B

print(Addition, Subtraction, Multiplication, Division, Floor_division, Modulus, Exponentiation)
print(type(Subtraction))

120.75 80.75 2015.0 5.0375 5.0 0.75 1.1611841423031978e+40
<class 'float'>

##Comparison Operations:

In [ ]:
A=100
B=70

Check_equal= (A==B)
print(Check_equal)
Check_Not_equal= (A!=B)
print(Check_Not_equal)
Greater_than = A>B
print(Greater_than)
Less_than=A<B
print(Less_than)
Greater_than_or_equal_to =  (A >= B)
print(Greater_than_or_equal_to)
Less_than_or_equal_to = (A <= B)
print(Less_than_or_equal_to)

False
True
True
False
True
False

## Logical Operations:

In [ ]:
A= True
B = False

logical_and = A and B
logical_or = A or B
logical_not = not B

print(logical_and, logical_or,logical_not)

False True True

## Bitwise Operations:

In [ ]:
A = 10 # binary 1010
B = 3 # binary 011

bitwise_and = A & B
bitwise_or = A | B
bitwise_not = ~A
bitwise_xor = A ^ B


print(bitwise_and, bitwise_or, bitwise_not, bitwise_xor)

0 4 -1 4

In [ ]:
A = 10
B = 5
C = 8

# Precedence: ~(Highest), << >>, &, ^, |(lowest)
ans = A & B | C >> 1
print(C>>1)
print(A&B)
print(B|C)

print(ans)

4
0
13
4

# **Strings**

##**Quotes:**In Python we can create strings using single (' '), double (" "), or triple (''' ''' or """ """) quotes:

1. **Single quotes**
2. **Double quotes**
3. **Triple single quotes**

In [ ]:
#Single quotes:
single_quoted_string = 'Hello, World!'
print(single_quoted_string)

Hello, World!

In [ ]:
#Double quotes:
double_quoted_string = "Python is awesome!"
print(double_quoted_string)

Python is awesome!

In [ ]:
#Triple single quotes:
multiline_string = '''This is a multiline
string in Python.'''
print(multiline_string)

This is a multiline string in Python.

In [ ]:
# Accessing Characters
name = "Jannatul Fardaous Jim"
first_character = name[0]
nineth_character = name[9]

print(first_character, nineth_character)

J F

In [ ]:
# String Slicing

name = "Jannatul Fardaous Jim"
substring = name[0:8] # start point 0: end point 8
print(substring)

Jannatul

##Method

Python provides a variety of built-in methods for working with strings. Some common methods include:

**len(): Returns the length of the string.**

**lower(), upper(): Converts the string to lowercase or uppercase.**

**capitalize(): Capitalize the first character of a string.**

**strip(): Removes leading and trailing whitespaces.**

**replace(old, new): Replaces occurrences of a substring with another substring.**

**split(delimiter): Splits the string into a list of substrings based on a delimiter.**

In [ ]:
string = "  hello, World!   "

length = len(string)
print("total character is: ", length)

uppercase_string = string.upper()
print(uppercase_string)
lowercase_string = string.lower()
print(lowercase_string)
capitalized_sentence = string.capitalize()
print(capitalized_sentence)
strip_string = string.strip()
print(strip_string)
print(len(strip_string))

split_string = string.split(",")
print(split_string)
sentence ="Python is awesome!"
Replace_string = string.replace (string, sentence)
print(Replace_string)

total character is:  18
  HELLO, WORLD!
  hello, world!
  hello, world!
hello, World!
13
['  hello', ' World!   ']
Python is awesome!

##Formatting


1.    format() method
2.     f-strings

In [ ]:
#Using format() method:
name = "Alice"
age = 30

# Using positional arguments
greeting = "Hello, {}! You are {} years old.".format(name, age)
print(greeting)

# Using assigning  arguments
formatted_text = "Name: {n}, Age: {a}".format(n=name, a=age)
print(formatted_text)

Hello, Alice! You are 30 years old.
Name: Alice, Age: 30

In [ ]:
# Using f-strings
name = "Bob"
age = 25

# Using f-strings
greeting = f"Hi, {name}! You are {age} years old."
print(greeting)

Hi, Bob! You are 25 years old.

##concatenation

In [ ]:
 # You can concatenate strings using the + operator or by using string formatting.
first_name = "JannaTul"
mid_name="Fardaous"
last_name = "Jim"
full_name = first_name + " "+mid_name +" " + last_name
print(full_name)

JannaTul Fardaous Jim

#**Conditional Statements (if, elif, else):**

In [ ]:
# Example 1: Simple if-else statement
x = 10

if x > 5:
    print("x is greater than 5")
else:
    print("x is not greater than 5")

In [ ]:
# Example 2: Using if-elif-else statement
y = 15

if y < 10:
    print("y is less than 10")
elif y >= 10 and y <= 20:
    print("y is between 10 and 20")
else:
    print("y is greater than 20")

In [ ]:
# Example 3: Using only if statement
z = 5

if z % 2 == 0:
    print("z is an even number")

In [ ]:
#Nested if else:
A,B,C = 20,90,5
if A>B and A>C:
  if (A%2==0):
    print('even: ', A)
  else:
    print('Odd', A)
elif B>A and B>C:
  if(B%2==0):
     print('even: ', B)
  else:
    print('Odd', B)
else:
  if(C%2==0):
      print('even: ', C)
  else:
      print('Odd', C)

even:  90

In [ ]:
if 5<10:
  print('if block')
  if 0: # 0 counted as false in python
    print(3)
  elif 1: # 1 0r others positive number counted as true
    print('6')
  else:
    print('neseted else')
elif 5>10:
  print('else if block')
else:
  print('else blcok')
print('L')

if block
6
L

# **Input From User**

In [ ]:
user_name = input("Enter your name: ")
print("Hello, " + user_name + "!")

In [ ]:
# Get an integer input from the user
user_integer = int(input("Enter an integer: "))
print("You entered:", user_integer)

Enter an integer: 25
You entered: 25

In [ ]:
# Get an integer input from the user
user_integer = int(input("Enter an integer: "))
print("You entered:", user_integer)

In [ ]:
# Get a string input from the user
user_string = input("Enter a string: ")
print("You entered:", user_string)

In [ ]:
# Get multiple inputs from the user
name = input("Enter your name: ")
age = int(input("Enter your age: "))
height = float(input("Enter your height in meters: "))

print("Name:", name)
print("Age:", age)
print("Height:", height)

## comment

In [ ]:
#This is a single-line comment

"""
This is a
multi-line comment
"""

# **Loops**

1.   while loop
2.   for loop

## While loop

In [ ]:
# While Loop
count = 0
while(count < 10):
    print(count)
    count += 1

## for loop

In [ ]:
# Using a for loop to print numbers from 1 to 20
for i in range(1,21):  # The range generates numbers from 1 to 20 (inclusive)
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [ ]:
# Using break to exit the loop when reaching 3
for i in range(5):
    if i == 3:
        break
    print(i)

0
1
2

In [ ]:
# Using continue to skip printing 3
for i in range(5):
    if i == 3:
        continue
    print(i)

0
1
2
4

In [ ]:

for i in range(1,20,2):
  print(i)

1
3
5
7
9
11
13
15
17
19

In [ ]:
for i in range(10, -1, -2):
  print(i)

10
8
6
4
2
0

##For Loop Advanced Feature

In [ ]:
# Looping with a Positive Step:
# Loop from 0 to 10 with a step of 2
for i in range(0, 11, 2):
    print(i)

0
2
4
6
8
10

In [ ]:
# Loop from 1.0 to 10.0 with a step of 0.5 using a while loop
i = 1.0
while i <= 10.0:
    print(i)
    i += 0.5

In [ ]:
# Loop from 1.0 to 10.0 with a step of 0.5 using a for loop
count = 1
for i in range(20):
  print(count)
  count+=.5

1
1.5
2.0
2.5
3.0
3.5
4.0
4.5
5.0
5.5
6.0
6.5
7.0
7.5
8.0
8.5
9.0
9.5
10.0
10.5

# **List**

## Creating List

In [ ]:
# Creating List in python
list = [1, 2, 3, 4, 5, 'Jannatul', 'Fardaous', 'Jim']
print(list)

## Accessing Elements

In [ ]:
# Accessing Elements
list = [1, 2, 3, 4, 5, 'Jannatul', 'Fardaous', 'Jim']
print(list)
print(list[0])
print(list[-3])
print(list[6])

[1, 2, 3, 4, 5, 'Jannatul', 'Fardaous', 'Jim']
1
Jannatul
Fardaous

##Slicing list

In [ ]:
# Slicing list
list = [1, 2, 3, 4, 5, 'Jannatul', 'Fardaous', 'Jim']
print(list)
print(list [-6:-1])

[1, 2, 3, 4, 5, 'Jannatul', 'Fardaous', 'Jim']
[3, 4, 5, 'Jannatul', 'Fardaous']

##List Concatenation

In [ ]:
list1 = [1, 2, 3,4]
list2 = [ 5, 6]
combined_list = list1 + list2
combined_list

[1, 2, 3, 4, 5, 6]

##Modifying List

In [ ]:
# Modifying List
list = [1, 2, 3, 4, 5, 'Jannatul', 'Fardaous', 'Jim']
print(list)

list.append("Python")
print(list)

list[2] = "Programming"
print(list)


list.insert(2, 10)
print (list)

list.remove('Jannatul')
print(list)

list_pop=list.pop(6)
print(list_pop)
print(list)

[1, 2, 3, 4, 5, 'Jannatul', 'Fardaous', 'Jim']
[1, 2, 3, 4, 5, 'Jannatul', 'Fardaous', 'Jim', 'Python']
[1, 2, 'Programming', 4, 5, 'Jannatul', 'Fardaous', 'Jim', 'Python']
[1, 2, 10, 'Programming', 4, 5, 'Jannatul', 'Fardaous', 'Jim', 'Python']
[1, 2, 10, 'Programming', 4, 5, 'Fardaous', 'Jim', 'Python']
Fardaous
[1, 2, 10, 'Programming', 4, 5, 'Jim', 'Python']

##List Methods

In [ ]:
list = [1, 2, 3, 4, 5, 'Jannatul', 'Fardaous', 'Jim']
print(list)
print(len(list))

[1, 2, 3, 4, 5, 'Jannatul', 'Fardaous', 'Jim']
8

In [ ]:
# Example list
numbers = [4, 2, 7, 1, 9, 3]

# Sorting the list in ascending order
sorted_numbers_ascending = sorted(numbers)
print("Sorted in ascending order:", sorted_numbers_ascending)

# Sorting the list in descending order
sorted_numbers_descending = sorted(numbers, reverse=True)
print("Sorted in descending order:", sorted_numbers_descending)

# The original list remains unchanged
print("Original list:", numbers)

Sorted in ascending order: [1, 2, 3, 4, 7, 9]
Sorted in descending order: [9, 7, 4, 3, 2, 1]
Original list: [4, 2, 7, 1, 9, 3]

##List Operation

In [ ]:
list1 = [1, 5, 7]
list2 = ['Jannatul', 'Fardaous', 'Jim']

connect_list = list1 + list2
repeated_list = list1 * 2
check_membership = '7' in list2

print(connect_list)
print(repeated_list)
print(check_membership)

[1, 5, 7, 'Jannatul', 'Fardaous', 'Jim']
[1, 5, 7, 1, 5, 7]
False

##Looping Through a List

In [ ]:
list = [1, 2, 3, 4, 5, 'Jannatul', 'Fardaous', 'Jim']

for i in list:
    print(i)

1
2
3
4
5
Jannatul
Fardaous
Jim

In [ ]:
list = [1, 2, 3, 4, 5, 'Jannatul', 'Fardaous', 'Jim']
for i in list:
  print(i)
print(len(list))

1
2
3
4
5
Jannatul
Fardaous
Jim
8

#Tuples

In [ ]:
#You can create a tuple by enclosing a sequence of elements within parentheses ().
tuples =(1, 2, 3, 4, 5, 'Jannatul', 'Fardaous', 'Jim')
print(tuples)

(1, 2, 3, 4, 5, 'Jannatul', 'Fardaous', 'Jim')

In [ ]:
tuples =(1, 2, 3, 4, 5, 'Jannatul', 'Fardaous', 'Jim')
print(tuples)

print(tuples[0])
print(tuples[2])
print(tuples[-2])

(1, 2, 3, 4, 5, 'Jannatul', 'Fardaous', 'Jim')
1
3
Fardaous

In [ ]:
# Slicing Tuples
tuples =(1, 2, 3, 4, 5, 'Jannatul', 'Fardaous', 'Jim')
print(tuples[-5:-1])

(4, 5, 'Jannatul', 'Fardaous')

In [ ]:
tuples[2] = "jim"
print(tuples)

# TypeError: 'tuple' object does not support item assignment

<class 'tuple'>

#**Dictionary**

In [ ]:
# Create Dictionary
dictionary = {'name' : "jim", 'age' : 23, 'city' : "Dhaka"}
print(dictionary)

{'name': 'jim', 'age': 23, 'city': 'Dhaka'}

In [ ]:
# Accessing Values
dictionary = {'name' : "jim", 'age' : 23, 'city' : "Dhaka"}
print(dictionary['name'])
print(dictionary['age'])

jim
23

In [ ]:
# Modifying dictionary

dictionary['name'] ='jannat'
dictionary['occupation'] = "Senior Software Engineer"

print(dictionary)

{'name': 'jannat', 'age': 23, 'city': 'Dhaka', 'occupation': 'Senior Software Engineer'}

In [ ]:
# Removing Item from dictionary
dictionary = {'name' : "jim", 'age' : 23, 'city' : "Dhaka"}
del dictionary['city'] #remove items from a dictionary using the del keyword.
print(dictionary)

{'name': 'jim', 'age': 23}

##Dictionary Methods:

In [ ]:
keys = dictionary.keys()
values = dictionary.values()
items = dictionary.items()

print(keys)
print(values)
print(items)

dict_keys(['name', 'age', 'city', 'occupation'])
dict_values(['jannat', 23, 'Dhaka', 'Senior Software Engineer'])
dict_items([('name', 'jannat'), ('age', 23), ('city', 'Dhaka'), ('occupation', 'Senior Software Engineer')])

# Functions

In [ ]:
# Syntax

def function_name(parameters):
    # Function Body
    # Code to perform a specific task
    return result # optional: return statement

In [ ]:
def add_num(x, y):
    total = x + y
    return total

result = add_num(5,3)
print(result)

In [ ]:
def square(x):
    return x**2
result = square(3)
print(result)

9

In [ ]:
def f1(a,b):
  return [a+b, a*b]

result =(f1(6,7))
print(result)
print(type(result))

[13, 42]
<class 'list'>

##Variable Number of Arguments

In [ ]:
def print_arguments(*args, **kwargs):
    print("Positional arguments: ", args)
    print("Keyword arguments: ", kwargs)

print_arguments(1, 2, 3, name="jim", age=23)

Positional arguments:  (1, 2, 3)
Keyword arguments:  {'name': 'jim', 'age': 23}

In [ ]:
def fn2(a,b,c,d):
  print(a,b,c,d)
#fn2(1,2,3) # positinal args
fn2(3, d=1,b=1, c= 2, ) #keyword args

3 1 2 1